.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    /* grid-template-areas: "text-content img-content"; */
    height: 788px;
}

.textContent {
    /* grid-area: text-content; */
    justify-self: center;
    align-self: center;
    text-align: center;
    padding: 0 2rem;
}

.imgContent {
    position: relative;
    /* grid-area: img-content; */
    min-height: 788px;
}

.circle1 {
    position: absolute;
    top: 156px;
    left: 10px;
    width: 253px;
    height: 253px;
    background: #FFA1B1;
    filter: blur(40px);
    border-radius: 50%;
}

.circle2 {
    position: absolute;
    top: 197px;
    left: 384px;
    width: 269px;
    height: 269px;
    background: #FFA1B1;
    filter: blur(40px);
    border-radius: 50%;
}

.circle3 {
    position: absolute;
    top: 558px;
    left: 289px;
    width: 163px;
    height: 163px;
    background: #FFA1B1;
    filter: blur(40px);
    border-radius: 50%;

}

@media screen and (max-width: 960px) {
    .circle1 {
        left: 15vw;
    }

    .circle2 {
        left: 60vw;
    }

    .circle3 {
        left: 45vw;
    }
}