.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    /* grid-template-areas: "img-content text-content"; */
    background-color: #FFD4DC;
    color: #000000;
    padding: 3rem 0;
}

.imgContent {
    /* grid-area: img-content; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContent {
    /* grid-area: text-content; */
    align-self: flex-start;
    justify-self: center;
    text-align: center;
    padding: 0 2rem;
}

.img {
    max-width: 580px;
    min-width: 90%;
}