.button {
    font-size: 2.7vw;
    background-color: #FFE296;
    color: #000000;
    width: 35vw;
    height: auto;
    padding: 1ch 0;
    border-radius: 27px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 480px) {
    .button {
        font-size: 16px;
    }
}