.img {
    max-width: 580px;
    min-width: 90%;
    padding: 1rem 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    /* grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "text-items img-items"
        "text-items img-items"; */
    padding: 2rem 0;
}

.textItems {
    /* grid-area: text-items; */
    align-self: flex-start;
    justify-self: center;
    text-align: center;
    padding: 3rem 3rem;
}

.textItems>h1 {
    margin: 0;
}

/* .imgItems {
    grid-area: img-items;
    padding: 0 1rem;
} */

.imgContent {
    display: flex;
    justify-content: center;
    align-items: center;
}