@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto';
  font-weight: 400;
  background-color: #313131;
  color: #FFFFFF;
}

h1 {
  font-size: 60px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  font-weight: 200;
}

p {
  font-size: 20px;
}